In [23]:

import pandas as pd
import re

In [24]:
def sum_first_last(row):
    amended = re.sub("[^0-9]", "", row)
    first = amended[0]
    last = amended[-1]

    sum_first_last = int(str(first)+str(last))

    return sum_first_last

In [25]:
text_to_num_dict = {"zero":"zer0o", "one":"on1e", "two":"tw2o", "three":"thre3e", "four":"fou4r", "five":"fiv5e", "six":"si6x", "seven":"seve7n", "eight":"eigh8t", "nine":"nin9e"}

In [26]:
def convert_text_to_number(row):
    row = str(row)
    for key, item in text_to_num_dict.items():
        row = row.replace(key, str(item))
    
    return row

In [27]:
test_df = pd.read_csv("./part1_data.csv")

In [28]:
test_df["Amended Data"] = test_df["data"].apply(lambda x: convert_text_to_number(x))

In [29]:
test_df.head()

                      data              Amended Data
0                9eightone               9eigh8ton1e
1     hczsqfour3nxm5seven4    hczsqfou4r3nxm5seve7n4
2          9twopjqkghmbone         9tw2opjqkghmbon1e
3  rhrfthv886vflthreeztvzs  rhrfthv886vflthre3eztvzs
4             tlbtwo62five            tlbtw2o62fiv5e

In [30]:
test_df["Sum of first and last"] = test_df["Amended Data"].apply(lambda x: sum_first_last(x))

In [31]:
test_df["Sum of first and last"].sum()

54431